<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"         integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="formCreacionServicios.css">
<div class="container">
    <div class="row">

        <div class="col container_imagen">
            <img src="https://i.pinimg.com/736x/13/d9/c9/13d9c9557c20368b767a7675b6e5ade3.jpg"
                class="d-block w-100" alt="Imagen Formulario de creacion de servicios" />
        </div>

        <section class="col form-container">

            <h2 class="titulo-form">Crear un Nuevo Servicio</h2>

            <form 
                id="formReserva" 
                class="formulario"
                action="https://formspree.io/f/mkokrkew"
                method="POST">

                <div class="input-group">
                    <input type="text" id="nombre" name="nombre" required placeholder="">
                    <label>Nombre </label>
                    <span class="error" id="errorNombre"></span>
                </div>

                <div class="input-group">
                    <input type="text" id="descripcion" name="descripcion" required placeholder="">
                    <label>Descripcion</label>
                    <span class="error" id="errorDescripcion"></span>
                </div>

                <div class="input-group ultimo_input_group">
                    <input type="text" id="precio" name="precio" required placeholder="">
                    <label>Precio</label>
                    <span class="error" id="errorPrecio"></span>
                </div>
                
                <div class="status">
                    <span>Status:</span>
                    <input type="radio" id="opcion1" name="grupo1" value="activo" checked>
                    <label for="opcion1">Activo</label>
                </div>
                
                <button type="submit" class="btn-enviar">Crear Servicio</button>

            </form>

        </section>
    </div>
</div>

<script src="formReserva.js"></script>

