<!-- AIzaSyCkVMtIfvyL6zRCUFZbK2LgDZntKlGDOjg -->

<link rel="stylesheet" href="maps.css">


<section class="map-seccion">
    <div class="map-content">
        <h2 class="map-titulo">Nuestros puntos de venta</h2>
        <p class="map-subtitulo">Encuentranos en estas ubicaciones</p>

        <div class="map-container">
        <div id="map"></div>
        <div class="sedes-list" id="sedes-list"></div>
        </div>
    </div>
</section>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkVMtIfvyL6zRCUFZbK2LgDZntKlGDOjg&callback=inicializacionMap" 
    async defer>
</script>
<script src="maps.js"></script>