<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contacto</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  <link rel="stylesheet" href="../../components/navbar/navbar.css">
  <link rel="stylesheet" href="../../components/footer/footer.css">
  <link rel="stylesheet" href="contact.css" />
  <link rel="stylesheet" href="/TimelyApp/assets/css/main.css">
  <link rel="stylesheet" href="review.css">
</head>

<body>
  <div id="navbar-placeholder"></div>

  <main class="container py-5 container-main">
  
<section class="container">
    <div class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner content-carousel">
            <div class="carousel-item active">
                <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776783907/rese%C3%B1a_5_ib29gl.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776783907/rese%C3%B1a_2_rshpsx.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776783907/rese%C3%B1a_1_o2ynzv.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776783907/rese%C3%B1a3_rpdgax.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776783907/rese%C3%B1a4_of5bca.png" class="d-block w-100" alt="...">
            </div>
             <div class="carousel-item">
                <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776783907/rese%C3%B1a_6_jmslse.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</section>

    

  </main>


  <!-- 1. Google Maps SIN callback -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkVMtIfvyL6zRCUFZbK2LgDZntKlGDOjg&loading=async"
    defer></script>
  <!-- 2. Tu JS del mapa, después de Google Maps -->
  <script src="/Style-Factory/components/maps/maps.js" defer></script>
  <!-- 3. Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <!-- 4. Font Awesome -->
  <script src="https://kit.fontawesome.com/da49b4fb7a.js" crossorigin="anonymous"></script>
  <!-- 5. JS de la página -->
  <script src="contact.js" defer></script>

</body>

</html>