:root{
    --color-primario: #522676;
    --color-secundario: #AE8D3E;
}
body{
    font-family: 'Montserrat', sans-serif;;
}
h1, h2, h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}
#header{
    width: 100%;
    background-color: var(--color-primario);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.navbar{
    height: 80px;
    align-items: center;
    padding: 0;
}
.container-fluid{
    height: 100%;
    flex-wrap:nowrap;
    align-items: stretch;
    
}
.navbar-brand{
    display: flex;
    align-items: stretch;
    height: 80px;
    padding: 0;
}
.container-fluid a img{
    height: 100%;
    display: block;
}
.navbar-collapse{
    align-items: stretch;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
    align-items: center;
    height: 80px;
}
.nav-item{
    height: 100%;
}
.nav-link {
    color: var(--color-secundario);
    display: flex;
    align-items: center;
    transition: color 0.3s;
    height: 100%;
}
.nav-link:hover {
    background-color: #fff;
}
.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}
@media (max-width: 576px) {
    .navbar {
        height: auto;
    }
    .navbar-nav {
        height: auto;
        align-items: flex-start;
        padding: 1rem;
    }
    .nav-item{
        width: 100%;
    }
    .nav-link {
        width: 100%;
        padding: 10px;
    }
    .nav-link:hover {
    background-color: #fff;
}
}