<header id="header" class="sticky-top">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <a href="../../index.html" class="navbar-brand"><img src="/Style-Factory/assets/images/logo_fondo_transparente.png"
                    alt="Logo principal" class="navbar__logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="index.html" class="nav-link fw-semibold">Inicio</a></li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle fw-semibold" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item fw-semibold" href="/Style-Factory/pages/services/services.html">Servicios</a></li>
                            <li><a class="dropdown-item fw-semibold" href="/Style-Factory/pages/reservations/reservations.html">Reservar Servicio</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="/Style-Factory/pages/contact/contact.html" class="nav-link fw-semibold">Contactenos</a></li>
                    <li class="nav-item"><a href="/Style-Factory/pages/aboutUs/aboutUs.html" class="nav-link fw-semibold">Acerca de nosotros</a>
                    </li>
                    <li class="nav-item login">
                        <a href="#" class="nav-link fw-semibold enlace_link">
                            <i class="fa-solid fa-user"></i>
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>