<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <title>navbar</title>
</head>
<body>
    <nav class="navbar">
        <img src="/Style-Factory/assets/images/styleFactory-logo.png" alt="Logo principal" class="navbar__logo">
        <ul class="navbar__links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contactenos</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Programar servicio</a></li>
            <li><a href="#">admin</a></li>
        </ul>
    </nav>
</body>
</html>


