:root {
    --color-primary: #522676;
    --color-secondary: #AE8D3E;
    --font-family-title: 'Playfair Display', serif;
    --font-family-general: 'Montserrat', sans-serif;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fdfcfc;
    color: white;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

h2 {
    letter-spacing: 1px;
}

