:root {
  --color-principal: #522676; /* morado */
  --color-dorado: #AE8D3E;   /* dorado */
  --color-cuadro: #f5f5f5;   /* gris claro */
}

/* Botón hamburguesa */
.boton-hamburguesa {
  background-color: var(--color-principal);
  color: var(--color-dorado);
  border: none;
  font-size: 28px; 
  padding: 12px 16px; 
  
  cursor: pointer;
  line-height: 1.2;
}



/* Fondo morado del menú lateral */
.menu-lateral {
  position: fixed;
  top: 0;
  left: -260px; 
  width: 260px;
  height: 100%;
  background-color: var(--color-principal);
  box-shadow: 0 0 15px 0 var(--color-principal);
  padding-left: 25px;
  transition: left 1s ease; }

/* Al pasar el cursor por el botón o el menú */
.boton-hamburguesa:hover + .menu-lateral,
.menu-lateral:hover {
  left: 0; /* se despliega */
}

.offcanvas {
  transition: transform 1s ease-in-out !important; /* más lento y suave */
}

.logo-menu {
  width: 150px;       /* tamaño del logo */
  margin-bottom: 20px; /* espacio debajo del logo */
  display: block;
  margin-left: 0;
  margin-right: auto; /* centra el logo */
}

/* Título dorado */
.menu-titulo {
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--color-dorado);
  font-family: 'Playfair Display', serif;
  margin-bottom: 25px;
}

/* Lista de botones */
.lista-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.boton-menu {
   display: flex; /* para alinear ícono y texto */
  align-items: center;
  margin: 25px 0; /* más separación entre botones */
  padding: 14px;
  text-decoration: none;
  color: var(--color-dorado);
  font-size: 22px; /* letras más grandes */
  font-family: 'Playfair Display', serif;
  background-color: transparent; /* quita fondo blanco/morado */
  border: none; /* sin borde */
  box-shadow: none; /* sin sombra */
  transition: color 0.3s ease, transform 0.3s ease;
}

.boton-menu:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.boton-salir {
  margin-top: auto;              /* lo empuja al final */
  display: flex;
  align-items: center;
  justify-content: flex-end;     /* lo pega al borde derecho */
  font-size: 26px;               /* ícono más grande */
  color: var(--color-dorado);
  background: none;
  border: none;
  cursor: pointer;
}

.boton-salir:hover {
  color: black;                  /* efecto hover */
}