

<!-- Botón hamburguesa independiente -->
<button class="boton-hamburguesa" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral" aria-controls="menuLateral">
  ☰
</button>

<!-- Menú lateral oculto -->
<div class="offcanvas offcanvas-start menu-lateral" tabindex="-1" id="menuLateral" aria-labelledby="menuTitulo">
  <div class="offcanvas-header">
  <img src="/assets/images/logo_fondo_transparente.png" alt="Logo" class="logo-menu">

  </div>
  <div class="offcanvas-body">
    <ul class="lista-menu">
      <li><a class="boton-menu" href="/pages/admin/panelDeControl/panelControl.html">Panel</a></li>
      <li><a class="boton-menu" href="/pages/admin/listaServicios/listaServicios.html">Servicios</a></li>
      <li><a class="boton-menu" href="/pages/admin/listaReservas/listaReservas.html">Reservas</a></li>
    </ul>
  </div>
  <li><a class="boton-menu" href="/index.html">Salir vista Admin</a></li>
</div>
