<link rel="stylesheet" href="/../../footer/footer.css">

<footer class="footer">
    <div class="footer-content">

        <div class="footer-logo">
            <img src="../../assets/images/styleFactory-logo.png" alt="Style Factory Logo" width="150">
            <p>Cortes que inspiran</p>
        </div>

        <div class="footer-links">
            <a href="/../index.html">Inicio</a>
            <a href="/../../services/services.html">Servicios</a>
            <a href="/../../aboutUs/aboutUs.html">Nosotros</a>
            <a href="/../../contact/contact.html">Contacto</a>
        </div>

        <div class="footer-contact">
            <p>📞 +57 300 000 0000</p>
            <p>✉️ info@stylefactory.com</p>

            <div class="social-links">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>

    </div>

    <div class="footer-copyright">
        <p>© 2026 Style Factory</p>
    </div>
</footer>