

<footer class="footer">
    <div class="footer-content">

        <div class="footer-logo">
            <img src="https://res.cloudinary.com/diq2bkb49/image/upload/v1776620226/logo_fondo_transparente_zucvmu.png" alt="Style Factory Logo" width="150">
            <p>Cortes que inspiran</p>
        </div>

        <div class="footer-links">
            <a href="/Style-Factory/index.html">Inicio</a>
            <a href="/Style-Factory/pages/services/services.html">Servicios</a>
            <a href="/Style-Factory/pages/contact/contact.html">Contacto</a>
            <a href="/Style-Factory/pages/aboutUs/aboutUs.html">Nosotros</a>
        </div>

        <div class="footer-contact">
            <p>📞 +57 300 000 0000</p>
            <p>✉️ info@stylefactory.com</p>

            <div class="social-links">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>

    </div>

    <div class="footer-copyright">
        <p>© 2026 Style Factory</p>
    </div>
</footer>