
<div class="container py-5">
    <div class="card w-100 border-0 rounded-0">
        <div class="row g-0 align-items-center text-content">
            <div class="col-md-6">
                <img src="/Style-Factory/assets/images/infoIndex/infoIndex1.png" alt="Foto interna de la peluqueria"
                    class="w-100 h-100 img-fluid" style="max-height: 400px;">
            </div>
            <div class="col-md-6 ">
                <div class="card-body px-4">
                    <h2 class="card-title">Compromiso</h2>
                    <p class="card-text">Trabajamos con dedicación y responsabilidad para brindarte siempre el mejor servicio.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card w-100 border-0 rounded-0">
        <div class="row g-0 align-items-center text-content">
            <div class="col-md-6 d-flex ">
                <div class="card-body px-4 text-end">
                    <h2 class="card-title">Profesionalismo</h2>
                    <p class="card-text">Cada detalle cuenta, por eso ofrecemos atención experta con calidad y excelencia.</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/Style-Factory/assets/images/infoIndex/infoIndex2.png" alt="Foto interna de la peluqueria"
                    class="w-100 h-100 img-fluid" style="max-height: 400px;">
            </div>
        </div>
    </div>
    <div class="card w-100 border-0 rounded-0">
        <div class="row g-0 align-items-center text-content">
            <div class="col-md-6">
                <img src="/Style-Factory/assets/images/infoIndex/infoIndex3.png" alt="Foto interna de la peluqueria"
                    class="w-100 h-100 img-fluid" style="max-height: 400px;">
            </div>
            <div class="col-md-6">
                <div class="card-body px-4">
                    <h2 class="card-title">Confianza</h2>
                    <p class="card-text">Construimos relaciones basadas en el respeto, la honestidad y la satisfacción de cada cliente.</p>
                </div>
            </div>
        </div>
    </div>
</div>