<div class=" py-5 container-custom">
  <h2 class="card-title mb-3 text-center">Transformamos tu imagen</h2>

  <div class="linea-separadora"></div>

  <p class="subtitulo">
    Nos dedicamos a resaltar tu belleza con atención personalizada, técnicas
    expertas y un compromiso real con tu bienestar.
  </p>
  <div class="card w-100 border-0 rounded-0">
    <div class="row g-0 align-items-center text-content">
      <div class="col-md-7">
        <img
          src="https://res.cloudinary.com/dh9dfyyuv/image/upload/v1777676567/Hair_salon_interior_neon_sign_202605011801_w1tb3w.jpg"
          alt="Foto interna de la peluqueria"
          class="w-100 h-100 img-fluid"
          style="max-height: 400px"
        />
      </div>
      <div class="col-md-5">
        <div class="card-body px-4">
          <h2 class="card-title">Compromiso</h2>
          <p class="card-text">
            Trabajamos con dedicación y responsabilidad para brindarte siempre
            el mejor servicio.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card w-100 border-0 rounded-0">
    <div class="row g-0 align-items-center text-content">
      <div class="col-md-5 d-flex">
        <div class="card-body px-2">
          <h2 class="card-title profesionalismo">Profesionalismo</h2>
          <p class="card-text">
            Cada detalle cuenta, por eso ofrecemos atención experta con calidad
            y excelencia.
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <img
          src="https://res.cloudinary.com/dh9dfyyuv/image/upload/v1777677042/Stylists_working_in_hair_salon_202605011810_vq1ihm.jpg"
          alt="Foto interna de la peluqueria"
          class="w-100 h-100 img-fluid"
          style="max-height: 400px"
        />
      </div>
    </div>
  </div>

  <div class="card w-100 border-0 rounded-0">
    <div class="row g-0 align-items-center text-content">
      <div class="col-md-7">
        <img
          src="https://res.cloudinary.com/dh9dfyyuv/image/upload/v1777677425/Barbershop_interior_with_clients__202605011816_zi1uzd.jpg"
          alt="Foto interna de la peluqueria"
          class="w-100 h-100 img-fluid"
          style="max-height: 400px"
        />
      </div>
      <div class="col-md-5">
        <div class="card-body px-3">
          <h2 class="card-title">Confianza</h2>
          <p class="card-text">
            Construimos relaciones basadas en el respeto, la honestidad y la
            satisfacción de cada cliente.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
