:root {
    --color-primary: #522676;
    --color-secondary: #AE8D3E;
    --font-family-title: 'Playfair Display', serif;
    --font-family-general: 'Montserrat', sans-serif;
}

.text-content{
    border: solid var(--color-secondary) 2px;
    background-color:#f0e1c0;
}

.card-title{
    color: var(--color-primary);
    font-family: var(--font-family-title);
    font-size: 3rem;
}

.card-text{
    font-family: var(--font-family-general);
    font-size: 1rem;
    font-weight: bold;
}

.container-custom {
  width: 100%;
  max-width: 100%; 
  padding-left: 20px;
  padding-right: 20px;
}

.linea-separadora {
  width: 100px;
  height: 2px;
  margin: 15px auto 20px;
  border-radius: 10px;
  background: var(--color-secondary);
}

.subtitulo{
    font-family: var(--font-family-general);
    font-size: 1rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
}
@media(min-width:768px){
    .card-title{
        font-size: 2.5rem;
    }
    .profesionalismo{
        font-size: 2.2rem;
    }
}