.btn-agregar-servicio{
    border-radius: 50%;
    background-color: #4f0987;
    border: #4f0987;
}




/* FILAS INTERCALADAS */
.table-striped tbody tr:nth-of-type(odd) {
  table-color: #522676 !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #c43939;
}

/* HOVER (detalle elegante) */
.table tbody tr:hover {
    background-color: #e6dcf5;
    transition: 0.3s;
}